html{
	height:100%;
	width:auto;
} 
body {
	height:100%;
	width:auto;
}

a:hover,a:link,a:visited,a:active{
	text-decoration:none;
}

.container-fluid{
	padding:0 -15px!important;
}

/*

*/

.content-wapper {
	min-height: 100%;
	height:100%;
	max-height:auto;
	width:auto;
	background: #131212 repeat fixed;
	background:-moz-linear-gradient(top, #131212, rgba(20, 20, 20, 0.9)) no-repeat fixed;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#131212), to(rgba(20, 20, 20, .7))) no-repeat fixed;
	background-size:cover;
	padding-top: 80px;
 	transition:background 1s linear;
		-moz-transition:background 1s; Firefox 4
		-webkit-transition:background 1s; Safari and Chrome
		-o-transition:background 1s; Opera 
}

.wapper-index{
	width:auto;
}

.wapper-display{
	min-width:949px;
}

/*
.wapper-bg{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#444;
	z-index:-1;
}
*/

.container {
	background: transparent #EFEFEF;
}

.add-form label, .add-form legend {
	color: #EFEFEF !important;
}

 .file-preview-frame{
 	background-color:#FFFFFF;
 }
 
 .form-btn{
 	margin-top:25px;
 }
 
 #catesList{
 	max-width:1520px;
 	display:table;
 	margin:37px auto;
 	text-align:center;
 }
 
 
 
 #catesList li{
 	text-align:center;
 	margin:0 19px;
 }
 
.cate-block{
	position:relative;
 	width:330px;
 	min-width:300px;
 	height:auto;
 	margin:40px auto;
 	overflow:hidden;
 	background:#2B2B2B;
 	border-radius:18px;
 	cursor:pointer;
 }
 
.cate-block .img{
	position:relative;
 	width:300px;
 	max-width:100%;
 	height:220px;
 	margin:15px;
 	border:2px solid #4b4b4b;
 	border-radius:5px;
 	overflow:hidden;
 	transition:transform .8s;	
 }
 
 .cate-block .img:hover{
 	border:none;
 	transform:rotate(180deg) scale(1.1,1.2);
 }
 
 .cate-block img{
 	width:100%;
 	height:100%;
 	transition:transform 1s;	
 }
 
 .info-wapper{
 	display:none;
 }
 
 .mask{
 	position:absolute;
 	width:300px;
 	height:220px;;
 	top:0;
 	left:0;
 	background:#111;
 	z-index:1;
 	opacity:.9;
 }
 
 .remark{
 	position:absolute;
 	width:300px;
 	height:220px;;
 	top:0;
 	left:0;
 	color:#EFEFEF;
 	background:transparent;
 	padding:18px;
 	z-index:1000;
 	transform:rotate(180deg);
 	
 }
 
  .cate-block a{
 	text-decoration:none;
 	color:#EFEFEF;
 }
 
 .cate-block a:hover{
 	text-decoration:none;
 	color:#EFEFEF;
 }
 
span.cate-name{
 	font:normal bold 24px/32px "微软雅黑",arial,sans-serif;
 	margin:20px;
 	line-height:68px;
 }
 
 span.cate-comment{
 	font:normal 16px/28px "楷体",arial,sans-serif;
 	max-width:120px;
 	line-height:36px;
 }
 
 
 /*展示图片集*/
 
 .content-center{
 	max-width:924px;
 	width:100%;
 	height:100%; 	
 	display:block;
 	margin:0px auto;
 }
 .content-header{
 	padding-top:20px;
 	background:#EDEDEF;
 	box-shadow:1px 1px 1px #666;
 }
 .content-header h3{
 	margin-top:0;
 }
 
 .cate-title{
 	color:#444;
 	font-family:"Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
 	padding-left:30px;
 	line-height:62px;
 	padding-bottom:10px;
 	border-bottom:1px solid #D1D1D1;
	
 }
 
 .mark-title{
 	margin-right:14px;
 	font-size:18px;
 	color:#B3B3B3;
 }
 
 .content-header label{
 	font:normal 14px/18px "楷体","Microsoft YaHei","微软雅黑","宋体",arial,sans-serif;
 	margin-left:12px;
 }
 
 .btn-group-bordered{
 	font:normal 16px/24px "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
 	margin-right:25px;
 }
 
 .btn-group-bordered .actived{
 	background-color:#DFDFDF !important;
 }
 
 .content-core{
 	width:100%;
 	min-height:800px;
 	height:auto;
 	padding:2px 26px 10px 14px;
 	margin-top:12px;
 	background:#EDEDEF;
 	
 }

 .imgitem{
 	position:relative;
 	height:250px;
 	overflow:hidden;
 	overflow-x:hidden;
 	padding-right:27px;
 	margin-top:20px;
 }
 
 .imgitem .img-holder{
 	position:relative;
 	height:240px;
 	box-shadow:2px 2px 2px #9C9C9C,
 				0px -1px 2px #9C9C9C;
 	margin-left:19px;
 }
 
 .img-holder a{
 	
 }
 
 .img-item{
 	position:absolute;
 	width:100%;
 	height:200px;
 	top:0;
 	left:0;
 	background:#545554;
 	margin:0px;
 }

 .layer{
 	position:absolute;
 	width:100%;
 	height:200px;
 	top:0;
 	left:0;
 	background:#91A1A8;
 	margin:0px;
 	opacity: 0.3;
        filter: alpha(opacity:30);
    display:none;
	
 }
 
.img-footer{
	position:absolute;
	width:100%;
 	height:40px;
 	top:200px;
 	left:0;
 	font:normal 20px/34px "Microsoft YaHei","微软雅黑",tahoma,arial,simsun;
 	line-height:40px;
 	padding-left:3px;
 	padding-right:10px;
}

.img-footer a{
	color:#343434;
	cursor:pointer;
	padding:0 3px 0 8px;
	font-family:"楷体","Microsoft YaHei","微软雅黑",tahoma,arial,simsun;
}
.img-footer a:hover{
	
	color:#7594B3;
	text-decoration:none;
}

 
.img-hot{
	padding:0 8px;
	line-height:40px;
	font:16px;
}
 
.img-hot i{
	color:#818181;
	font-size:20px;
	margin-top:10px;
}

.img-hot i:hover{
	cursor:pointer;
	color:#DD4339;
	font-size:20px;
	margin-top:10px;
}

.img-footer span{
	font:normal 16px/40px "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	color:#616161;
}
 
 
 
 
 
 