

/*******************************header style****************************************/

.nav-layer{
	left:0;
	top:0;
	width:100%;
	height:51px;
	background-color:#000;
	opacity: .88;
	filter: alpha(opacity:.88);
}

#nav-top.navbar-fixed-top {
	width: auto;
	margin: 0 auto;
	padding: 0 130px;
	/*background-color: #0099df;*/
	background-color: transparent !important;
	border:0;
	box-shadow: 1px 1px 1px #9a9a9a;


}

#nav-top.navbar-fixed-top a {
	background-color:transparent;
	color: #eeeeee;
}

#nav-top.navbar-fixed-top .collapse a:hover,
#nav-top.navbar-fixed-top .collapse a:active{
	color: #dcdcdc;
	background-color:transparent;
}
#nav-top.navbar-fixed-top .collapse li.active {
	color: #dcdcdc;
	background-color:transparent;
	border-bottom:2px solid #fff;
}

#nav-top.navbar-fixed-top a.btn{
	color: #fff;
	height: 32px;
	line-height: 32px;
	margin: 9px 0;
	min-width: 100px;
	padding: 0 20px;
	display: block;
	font-size: 16px;
	transition: opacity 0.15s ease-in-out 0s;
	background-color: #128fdc;
}
#nav-top.navbar-fixed-top a.btn:hover{
	background-color: #0c629a;
}


#nav-top .navbar-header{
	/*flex-flow: row;*/
}

#nav-top .navbar-brand {
	font: bold 16px 'monospace', arial, sans-serif;
	width: auto;
	margin-top:0px;
}

button.navbar-toggle{
	border:0 !important;
	background-color:transparent !important;
}

.navbar-responsive-collapse {
	/*flex:auto;*/
	margin:0 auto;
	padding-right: 20px !important;
}

ul.navbar-nav li {
	width: auto;
	text-align: center;
}

ul.navbar-right li {
	width: auto;
}

ul.navbar-right li a {
	font-weight: 200;
	font-size: 16px;
}

ul.navbar-nav a {
	font: bold 16px "微软雅黑", arial, sans-serif;
}

.navbar-form{
	margin-left:40px;
}

#nav-top ul.navbar-nav a:hover {

}


@media (max-width: 1500px) {

	#nav-top.navbar-fixed-top{
		display:block;
		padding:0 130px;
	}

}

@media (max-width: 1024px) {

	#nav-top.navbar-fixed-top{
		display:block;
		padding:0 42px;
	}

}


@media ( max-width : 850px) {

	#nav-top.navbar-fixed-top {
		width: 100%;
		padding: 0;
		display: block;
	}
	.navbar-responsive-collapse{
		background-color: #0f0f0f;
	}
}

/*--------------------------------end header-------------------------------*/

/*********************************index page style******************************/


#myCarousel {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top:50px;
	background-color: #0f0f0f;
}
#myCarousel .item{
	min-height:200px;
	width:100%;
}

.carousel-layer{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color: #666;
	opacity: .25;
	filter:alpha(opacity:.25);
	z-index: 5;
}

.carousel-content{
	bottom: 0;
	display: table;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	color:#fff;
	z-index: 10;
}
.carousel-content-intro{
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, transparent 100%) repeat scroll 0 0;
	bottom: 0;
	display: table-cell;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	vertical-align: top;
	width: 100%;
	z-index: 2;
	text-align: center;
}

.carousel-content h1{
	padding-top:30vh;
	width:100%;
	font-size:36px;
	font-weight: 400;
	font-family: 'DejaVu Sans Mono', monospace;
	margin-bottom:20px;
}

.carousel-content p{
	font-size: 18px;
	font-family: '楷体',"宋体",Consolas, "Courier New", monospace;
	line-height: 1.4em;
	margin-top: 5px;
	width:100%;
}

.carousel-content p:last-child{
	margin-bottom:90px;
}

.carousel-control{
	z-index: 15;
}

.index-fromone{
	background-color:#FFF;
	text-align: center;
}
section article{
	text-align: center;
	max-width:600px;
	margin:60px auto 80px;
}

article h2{
	margin-bottom:20px;
	font-family: "楷体-简","Microsoft YaHei","楷体",  "微软雅黑", tahoma, arial, simsun,Arial, sans-serif;
}

.index-fromone article p{
	/*text-indent: 2em;*/
	text-align: center;
	font-size:18px;
	line-height:1.8em;
	font-family: "翩翩体-简", "翩翩体","华文行楷","Microsoft YaHei", "微软雅黑", tahoma, Arial, sans-serif;
}

.fromone-bucket{
	margin:10px auto 0px;
}

.fromone-bucket .col-md-4{
	text-align: center;
	padding:0 15px 10px;
}

.fromone-bucket .col-md-4:first-child{
	padding-right: 0;
}

.fromone-bucket .col-md-4:last-child{
	padding-left:0;
}

.fromone-bucket .row .imgLiquid{
	min-height:270px;
	width:100%;
}

.divider{
	margin:40px 0px;
}

.inspiration{
	width:100%;
	height:486px;
}

.photo-wall-title{
	width:100%;
	text-align: center;
	border-top:1px solid #E7E9EA;
	font-family: "Prestige Elite Std" , "微软雅黑","Microsoft YaHei", tahoma, Arial ,sans-serif;
	height:38px;
	line-height: 32px;
	padding-top:4px;
}



.photo-wall {
	margin: 0 0 30px;
	background-color: #F7F8FA;
	min-height: 800px;
	padding: 20px auto 20px;
	outline: 10px solid #fff;
	border-top: 1px solid #E7E9EA;
	text-align: center;
}

.photo-wall-main{
	margin:20px auto 20px;
}

.wapper{
	margin-bottom:40px;
}

@media (min-width: 1600px) {
	.carousel-content h1{
		padding-top:30vh;
		width:100%;
		font-size:48px;
		font-weight: 400;
		font-family: 'DejaVu Sans Mono', monospace;
		margin-bottom:30px;
	}

	.carousel-content p{
		font-size: 28px;
		font-family: '楷体',"宋体",Consolas, "Courier New", monospace;
		line-height: 1.6em;
		margin-top: 5px;
		width:100%;
	}

	.carousel-content p:last-child{
		margin-bottom:90px;
	}
	section article{
		text-align: center;
		max-width:1000px;
		margin:60px auto 88px;
	}

	article h2{
		font-size:40px;
		line-height:1.6em;
		margin-bottom:40px;
	}

	.index-fromone article p{
		font-size:26px;
		margin:5px;
	}



}

@media (max-width: 1000px) {

	.fromone-bucket .col-md-4:first-child{
		padding-right: 10px;
		padding-left:10px;
	}

	.fromone-bucket .col-md-4:last-child{
		padding-left:10px;
		padding-right:10px;
	}

	.fromone-bucket .row .imgLiquid{
		height:270px;
		width:60%;
		max-width:100%;
	}
}

@media (max-width:850px) {
	.carousel-control{
		display:none;
	}
	.carousel-content{
		padding:28px;
	}
	#myCarousel .carousel-content-intro p{
		padding-left:20px;
		padding-right:20px;
	}
	.fromone-bucket .row .imgLiquid{
		height:270px;
		width:422px;
		max-width:100%;
	}


}





/* prev index style */
.content-wapper {
	min-height: 100%;
	height:100%;
	max-height:100%;
	width:auto;
	background: #131212 repeat fixed;
	background:-moz-linear-gradient(top, #131212, rgba(20, 20, 20, 0.9)) no-repeat fixed;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#131212), to(rgba(20, 20, 20, .7))) no-repeat fixed;
	background-size:cover;
	padding-top: 80px;
 	transition:background 1s linear;
		-moz-transition:background 1s;
		-webkit-transition:background 1s;
		-o-transition:background 1s;
}

.wapper-index{
	width:auto;
}

.wapper-display{
	min-width:949px;
}


.container {
	background: transparent;
}

.add-form label, .add-form legend {
	color: #EFEFEF !important;
}

 .file-preview-frame{
 	background-color:#FFFFFF;
 }
 
 .form-btn{
 	margin-top:25px;
 }
 
 #catesList{
 	max-width:1520px;
 	display:table;
 	margin:37px auto;
 	text-align:center;
 }
 
 
 
 #catesList li{
 	text-align:center;
 	margin:0 19px;
 }
 
.cate-block{
	position:relative;
 	width:330px;
 	min-width:300px;
 	height:auto;
 	margin:40px auto;
 	overflow:hidden;
 	background:#2B2B2B;
 	border-radius:18px;
 	cursor:pointer;
 }
 
.cate-block .img{
	position:relative;
 	width:300px;
 	max-width:100%;
 	height:220px;
 	margin:15px;
 	border:2px solid #4b4b4b;
 	border-radius:5px;
 	overflow:hidden;
 	transition:transform .8s;	
 }
 
 .cate-block .img:hover{
 	border:none;
 	transform:rotate(180deg) scale(1.1,1.2);
 }
 
 .cate-block img{
 	width:100%;
 	height:100%;
 	transition:transform 1s;	
 }
 
 .info-wapper{
 	display:none;
 }
 
 .mask{
 	position:absolute;
 	width:300px;
 	height:220px;;
 	top:0;
 	left:0;
 	background:#111;
 	z-index:1;
 	opacity:.9;
 }
 
 .remark{
 	position:absolute;
 	width:300px;
 	height:220px;;
 	top:0;
 	left:0;
 	color:#EFEFEF;
 	background:transparent;
 	padding:18px;
 	z-index:1000;
 	transform:rotate(180deg);
 	
 }
 
  .cate-block a{
 	text-decoration:none;
 	color:#EFEFEF;
 }
 
 .cate-block a:hover{
 	text-decoration:none;
 	color:#EFEFEF;
 }
 
span.cate-name{
 	font:normal bold 24px/32px "微软雅黑",arial,sans-serif;
 	margin:20px;
 	line-height:68px;
 }
 
 span.cate-comment{
 	font:normal 16px/28px "楷体",arial,sans-serif;
 	max-width:120px;
 	line-height:36px;
 }
 
 /*****************************end index page**************************/

 /********************************展示图片集****************************/
 
 .content-center{
 	max-width:924px;
 	width:100%;
 	height:100%; 	
 	display:block;
 	margin:0px auto;
 }
 .content-header{
 	padding-top:20px;
 	background:#EDEDEF;
 	box-shadow:1px 1px 1px #666;
 }
 .content-header h3{
 	margin-top:0;
 }
 
 .cate-title{
 	color:#444;
 	font-family:"Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
 	padding-left:30px;
 	line-height:62px;
 	padding-bottom:10px;
 	border-bottom:1px solid #D1D1D1;
	
 }
 
 .mark-title{
 	margin-right:14px;
 	font-size:18px;
 	color:#B3B3B3;
 }
 
 .content-header label{
 	font:normal 14px/18px "楷体","Microsoft YaHei","微软雅黑","宋体",arial,sans-serif;
 	margin-left:12px;
 }
 
 .btn-group-bordered{
 	font:normal 16px/24px "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
 	margin-right:25px;
 }
 
 .btn-group-bordered .actived{
 	background-color:#DFDFDF !important;
 }
 
 .content-core{
 	width:100%;
 	min-height:800px;
 	height:auto;
 	padding:2px 26px 10px 14px;
 	margin-top:12px;
 	background:#EDEDEF;
 	
 }

 .imgitem{
 	position:relative;
 	height:250px;
 	overflow:hidden;
 	overflow-x:hidden;
 	padding-right:27px;
 	margin-top:20px;
 }
 
 .imgitem .img-holder{
 	position:relative;
 	height:240px;
 	box-shadow:2px 2px 2px #9C9C9C,
 				0px -1px 2px #9C9C9C;
 	margin-left:19px;
 }
 
 .img-holder a{
 	
 }
 
 .img-item{
 	position:absolute;
 	width:100%;
 	height:200px;
 	top:0;
 	left:0;
 	background:#545554;
 	margin:0px;
 }

 .layer{
 	position:absolute;
 	width:100%;
 	height:200px;
 	top:0;
 	left:0;
 	background:#91A1A8;
 	margin:0px;
 	opacity: 0.3;
        filter: alpha(opacity:30);
    display:none;
	
 }
 
.img-footer{
	position:absolute;
	width:100%;
 	height:40px;
 	top:200px;
 	left:0;
 	font:normal 20px/34px "Microsoft YaHei","微软雅黑",tahoma,arial,simsun;
 	line-height:40px;
 	padding-left:3px;
 	padding-right:10px;
}

.img-footer a{
	color:#343434;
	cursor:pointer;
	padding:0 3px 0 8px;
	font-family:"楷体","Microsoft YaHei","微软雅黑",tahoma,arial,simsun;
}
.img-footer a:hover{
	
	color:#7594B3;
	text-decoration:none;
}

 
.img-hot{
	padding:0 8px;
	line-height:40px;
	font-size:16px;
}
 
.img-hot i{
	color:#818181;
	font-size:20px;
	margin-top:10px;
}

.img-hot i:hover{
	cursor:pointer;
	color:#DD4339;
	font-size:20px;
	margin-top:10px;
}

.img-footer span{
	font:normal 16px/40px "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	color:#616161;
}
 
 /*************************** end images ****************************/
 
 
 
 